<div class="col-md-6">
  <h2> HN Feed</h2>
  <table class="table table-striped">
    <thead>
    </thead>
    <tbody>
    <tr *ngFor="let article of articles.hits"  routerLink="{{article.story_url}}"><a href="{{article.story_url}}"></a>
      <td class="hidden">{{article.story_title !== null ? article.story_title : article.title }}</td>
      <td>{{article.title}}</td>
      <td>{{article.created_at}}</td>
      <td><button class="btn btn-danger" (click)="deleteArticle(article)"> Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
